/*@import url('http://fonts.googleapis.com/css?family=Lato:400,300,700,900');*/

body {
	background:  #2a2d38;
    font-family: 'Raleway', serif;
    font-weight: 300;
    font-size: 16px;
    color: #666;
    line-height: 1.6em;
    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
}

#countdown {
	font-size: 38px;
	color: #fff;
	line-height: 1.1em;
	margin: 40px 0 60px;
    /*text-align: left;*/
    display: inline;
}

#wrapper {
	text-align: center;
	padding: 50px 0;
	/*background: url(../img/main-bg.jpg) no-repeat center top;*/
	background-attachment: relative;
	background-position: center center;
	min-height: 650px;
	width: 100%;	
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


/*moving icon*/
#movingicon {
    margin-top:2px;
    text-align:center;
    vertical-align:central;
    color:rgb(255, 153, 0);
    /*font-weight:900;*/
    font-size:25px;
    letter-spacing:3px;
}

.icon-color{
    color:#3366ff;
}

#slider {position: relative; overflow: hidden; height:155px;}
#slider img {position:absolute; margin:0; display:none;}
#imageloader {position:relative; display:block; width: 100%; margin: 0px auto; text-align: center;}
#imageloader img { position:relative; top:70px; z-index:100; width:128px; height:15px; display:inline;}